html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: auto;
  --btn-txt-color: #2a2a2a;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
  background-color: var(--body-bg);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Black Ops One', cursive; system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
  max-height: 900px;
  background-image: url(../images/ocean.jpg);
  background-size: cover;
}

body.dark {

  --btn-text-color: #eaeaea;
  --inverted-btn-text-color: #d8d8d8;
  --light-dark-btn-bg: #444655;
  --light-dark-btn-content: "Light Mode";
  background-color: var(--body-bg);
  color:azure;
  background-image: url(../images/oceandark.jpg);
}

/* h1{
  background-color: blue;
  width: 70%;
  text-align: center;
} */

.btn {
  color:  var(--btn-txt-color);
  border: none;
  margin:4px;
  width: 90px;
  font-size: 10px;
}

.modal-header{
  text-align: center;
  background-color:darkgrey;
  color: black;
}

.modal-body{
  text-align: center;
  background-color:darkgrey;
  color: black
}

.modal-footer {
  text-align: center;
  background-color:darkgrey;
  color: black;
}

.grid-item {
  background-size: cover;
}

.boats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.boat{
  margin: .5px;
  padding-top: 6px;
  width: 80px;
  font-size: 12px;
  background-size:cover;
}

.boat img {
  width: 100%;
}
.rotated {
  transform: rotate(90deg);
}

.form-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
/* .hold {
  border: solid 5px #e9e514;
}*/

/* .hovered {
  background: #e40e0e;
  border-style: dashed;
}  */

#carrier {
  /* background-image: url(../images/5longBoat.png); 
  background-size:cover; */
  margin:auto;
} 

#battleship {
  /* background-image: url(../images/4longBoat.png); 
  background-size: cover; */
  margin:auto;
} 

#submarine {
  /* background-image: url(../images/3longBoat.png); 
  background-size: 100%; */
  margin:auto;
}

#cruiser {
  /* background-image: url(../images/3longBoat.png);
  background-size:100% ; */
  height: 35px;
  margin:auto;
}

#destroyer {
  /* background-image: url(../images/2longBoat.png);
  background-size: cover; */
  height: 35px;
  margin:auto;
}

#gameView {
  justify-content: center;
  width: 70%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto;
  grid-template-areas:"main"
                      "side";
}

h1 {
  background-color: crimson;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 8px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#battleshipGrid {
  display: grid;
  height: 360px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-area: "main";
  border: 7px solid rgba(66, 152, 239,.7);
}

.modal {
  /* width: 300px; //size of modal */
  margin: 12% auto; 
  grid-area: 'main';
}
.grid-item:hover {
  border:3px solid crimson;
}
.boat:hover {
  border:3px solid crimson;
}

#messages {
  font-size: 20px;
  background-color: rgba(90, 90, 90, 0.9);
  grid-area: "side";
  padding: 5px;
}

#gamestat {
  font-size: 17px;
  padding-bottom:9px;
  margin:auto;
  background-color:rgba(90, 90, 90, 0.9);
  color: yellow;
  grid-area: "side";
}

#sideBar {
  background-color: rgba(66, 152, 239,.7);
  height:auto;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}