html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --grid-cols: 1;
  --grid-rows: 1;
}

body {

  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-align: center;

}

.grid-item {
  padding: .5em;
  border: 1px solid #ddd;
  text-align: center;
  background-color: aqua;
}
#gameView {
  background-color: black;
  justify-content: center;
  width: 70%;
  height: 50vw;
  margin: auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-areas: "main side";
}

#battleshipGrid {
  display: grid;
  height: 100%;
  grid-gap: .1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-area: "main";
}

#sideBar {
  background-color: blanchedalmond;
  margin-left: 0;
  grid-area: "side";
}