html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: auto;
  --btn-txt-color: #2a2a2a;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
  background-color: var(--body-bg);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Black Ops One', cursive, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
  max-height: 900px;
  background-image: url(../images/ocean.jpg);
  background-size: cover;
  color: yellow;
}

header {
  width: 420px;
  margin: auto;
}

body.dark {
  --btn-text-color: #eaeaea;
  --inverted-btn-text-color: #d8d8d8;
  --light-dark-btn-bg: #444655;
  --light-dark-btn-content: "Light Mode";
  background-color: var(--body-bg);
  color:azure;
  background-image: url(../images/oceandark.jpg);
}

h1 {
  background-color: crimson;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 8px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.btn {
  color:  var(--btn-txt-color);
  border: none;
  margin:10px 10px 0 10px;
  width: 90px;
  font-size: 10px;
}

.modal-header{
  text-align: center;
  background-color:darkgrey;
  color: black;
}

.modal-body{
  text-align: center;
  background-color:darkgrey;
  color: black
}

.grid-item {
  background-size: cover;
}

.boats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.boat{
  font-size: 12px;
}

.form-switch {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  /* width: 300px; //size of modal */
  margin: 12% auto; 
  grid-area: 'main';
  font-family: Arial, Helvetica, sans-serif;
}

.grid-item:hover {
  border:3px solid crimson;
}

.boat:hover {
  border:3px solid crimson;
}

#gameView {
  justify-content: center;
  width: 70%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto;
  grid-template-areas:"main"
                      "footer"
                      "messages";
}

#battleshipGrid {
  display: grid;
  height: 360px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-area: "main";
  border: 7px solid rgba(66, 152, 239,.7);
}

#messages {
  font-size: 20px;
  background-color: rgba(90, 90, 90, 0.9);
  grid-area: "messages";
  padding: 5px;
}

#gamestat {
  font-size: 17px;
  padding-bottom:9px;
  margin:auto;
  background-color:rgba(90, 90, 90, 0.9);
  grid-area: "footer";
}

#carrier {
  background-size:100%;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
  width: 182px;
  height: 27px;
} 

#battleship {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
  width: 150px;
  height: 25px;
} 

#submarine {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
  width: 100px;
  height:24px;
}

#cruiser {
  background-size:100% ;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
  width: 100px;
  height: 24px;
}

#destroyer {
  background-size:contain ;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
  width:50px;
  height: 22px;
  padding-top: 3px;
}

#sideBar {
  background-color: rgba(66, 152, 239,.7);
  height:185px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media only screen and (min-width: 750px) {
  body 
    {
      justify-content: center;
      align-items: center;
      grid-template-rows: auto;
      display: grid;
      grid-template-columns: 750px;
      grid-template-rows: auto;
      text-align: center;
      max-height: 1500px;
      margin: 9px auto;
    }

  header {
    width: 742px;
    margin:auto;
  }
  .boats{
    margin-top: 20px;
    align-content: space-between;
  }

  .buttons {
    margin-top:25px;
  }

  #gameView {
    height: auto;
    margin: auto;
    display:flex;
    grid-template-columns: 75%  25%;
    grid-template-rows: auto;
    grid-template-areas:  "header"
                          "main footer"
                          "aside";
    }
    
  #battleshipGrid {
    display: grid;
    margin-left: 0px;
    width:550px;
    height: 550px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-area: "main";
    border: 7px solid rgba(66, 152, 239,.7);
    border-bottom-left-radius: 25px;
  }
  
  #messages {
    font-size: 20px;
    background-color: rgba(90, 90, 90, 0.9);
    grid-area: "aside";
    margin:5px;
    padding: 5px;
    padding-top: 45px;
    height:150px;
    border-radius: 5px;
  }
  
  #gamestat {
    font-size: 17px;
    padding-bottom:9px;
    margin:5px;
    background-color:rgba(90, 90, 90, 0.9);
    grid-area: "footer";
    padding: 5px;
    margin-top:45px;
    border-radius:5px;
  }
  
  #sideBar {
    background-color: rgba(66, 152, 239,.8);
    height:550px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }

  #destroyer {
    background-repeat: no-repeat;
    background-position: center;
    margin:auto;
    width:150px;
    height: 22px;
    padding-top: 3px;
  }
} 